
/* styles-a.css (c) JRStockton  www.merlyn.demon.co.uk  >= 2006-03-13 */


 body { color: black; background: #FFFFCC; font-size: 100%; }

 input { font-family: monospace; }

 fieldset { margin: 0 ; padding: 9px ; }
 
 .TOE { font-family: sans-serif ; border-top: 1px solid black ;
        text-align: center ; margin-top : 5ex ; padding: 7px ; }
 .L25 { width: 25%; float: left; padding: 14px ; }
 .R25 { width: 25%; float: right; padding: 14px ; }

 .BOX, .TRY, .SRC, .OUT, .OPT, .NDX, .CAN {
  border: 1px solid black; padding: 1ex; /* margin-right: 1px; */
  margin: 2ex 1px 2ex 1px;
  color: black; background: fuchsia; }
 .BOX { color: inherit; background: #CCFFCC; }
 .TRY { color: inherit; background: #99CCFF; } /* forms */
 .SRC { color: inherit; border-color: blue; background: lime; }    /* source */
 .OUT,
 .OPT { color: inherit; border-color: blue; background: yellow; }  /* output */

 .OPT { white-space: pre; font-family: monospace; } /* pre */

 .NDX { color: inherit; border-color: blue; background: white;
  margin: 3ex 0ex 4ex 0ex; padding: 1em; }

 .CAN { width: 42ex; background: #CCFFFF; margin: 1ex; }

 .INL { color: black; background: yellow; }

 .CEN { text-align: center; }

 .ALT { text-align: left; }

 .ART { text-align: right; }

 .UND { text-decoration: underline; }

 .STK { text-decoration: line-through; }

 .SML { font-size: smaller; }

 .BIG { font-size: larger; }

 h1, h2, h3, h4, h5, h6 { clear: both;
   font-family: sans-serif ; margin-right: 1px; }

 h1 { font-size: 1.80em ; padding: 1.2ex ; background: white; color: inherit;
       border: solid 0.5ex #999999 ; text-align: center; }
 h2 { font-size: 1.50em ; padding: 1.5ex ; margin-top: 2.1em ;
       border-left: solid 1em #CCCCCC ; border-top: solid  0.5ex #CCCCCC ; }
 h3 { font-size: 1.39em ; padding: 1.0ex ; margin-top: 1.6em ;
       border-left: solid 1em #CCCCFF ; border-top: dashed 0.3ex #CCCCFF ; }
 h4 { font-size: 1.25em ; padding: 0.8ex ; margin-top: 1.2em ;
       border-left: solid 1em #FFCCFF ; border-top: dotted 0.2ex #FFCCFF ; }
 h5 { font-size: 1.12em ; padding: 0.6ex ; margin-top: 0.9em ;
       border-left: solid 1em #CCFFFF ; border-top: dotted 0.2ex #CCFFFF ; }
 h6 { font-size: 1.00em ; padding: 0.4ex ; margin-top: 0.7em ;
       border-left: solid 1em #FFFFFF ; }

